*.log
*.lock
*.log
*.xmi
*.xml
*.ini
*.pdom
.metadata/.plugins/com.st.stm32cube.ide.mcu.informationcenter/2.2.100.202310121307
.metadata/.plugins/org.eclipse.cdt.make.core/specs.c
.metadata/.plugins/org.eclipse.cdt.make.core/specs.cpp
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.c
.metadata/.plugins/org.eclipse.cdt.managedbuilder.core/spec.cpp
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/HAL_Project/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/HAL_Project/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/HAL_Project/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/HAL_Project/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.ide.oss.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.core.prj-HAL_Project.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.launchbar.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.core.resources/.projects/HAL_Project/.markers
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.st.stm32cube.ide.mcu.debug.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.dsf.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.managedbuilder.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
STM32G070/CubeIDE_Project/HAL_Project Debug.cfg
STM32G070/CubeIDE_Project/HAL_Project Debug.launch
STM32G070/CubeIDE_Project/Debug/HAL_Project.elf
STM32G070/CubeIDE_Project/Debug/HAL_Project.list
STM32G070/CubeIDE_Project/Debug/HAL_Project.map
STM32G070/CubeIDE_Project/Debug/makefile
STM32G070/CubeIDE_Project/Debug/objects.mk
STM32G070/CubeIDE_Project/Debug/sources.mk
STM32G070/CubeIDE_Project/Debug/Src/main.o
STM32G070/CubeIDE_Project/Debug/Src/subdir.mk
STM32G070/CubeIDE_Project/Debug/Src/syscalls.o
STM32G070/CubeIDE_Project/Debug/Src/sysmem.o
STM32G070/CubeIDE_Project/Debug/Startup/startup_stm32g070rbtx.o
STM32G070/CubeIDE_Project/Debug/Startup/subdir.mk
STM32G070/CubeIDE_Project/HAL_Project Debug.cfg
STM32G070/CubeIDE_Project/HAL_Project Debug.launch
STM32G070/CubeIDE_Project/Debug/HAL_Project.elf
STM32G070/CubeIDE_Project/Debug/HAL_Project.list
STM32G070/CubeIDE_Project/Debug/HAL_Project.map
STM32G070/CubeIDE_Project/Debug/makefile
STM32G070/CubeIDE_Project/Debug/objects.mk
STM32G070/CubeIDE_Project/Debug/sources.mk
STM32G070/CubeIDE_Project/Debug/Src/main.o
STM32G070/CubeIDE_Project/Debug/Src/subdir.mk
STM32G070/CubeIDE_Project/Debug/Src/syscalls.o
STM32G070/CubeIDE_Project/Debug/Src/sysmem.o
STM32G070/CubeIDE_Project/Debug/Startup/startup_stm32g070rbtx.o
STM32G070/CubeIDE_Project/Debug/Startup/subdir.mk
STM32G070/.metadata/.log
STM32G070/.metadata/version.ini
STM32G070/.metadata/.plugins/org.eclipse.cdt.ui/CubeIDE_Project.build.log
STM32G070/.metadata/.plugins/org.eclipse.cdt.ui/global-build.log
STM32G070/.metadata/.plugins/org.eclipse.core.resources/5.snap
STM32G070/.metadata/.plugins/org.eclipse.core.resources/.projects/CubeIDE_Project/.markers.snap
STM32G070/.metadata/.plugins/org.eclipse.core.resources/.projects/CubeIDE_Project/.syncinfo.snap
STM32G070/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
STM32G070/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
*.prefs
STM32G070/CubeIDE_Project/CubeIDE_Project Debug.launch
STM32G070/CubeIDE_Project/Debug/CubeIDE_Project.elf
STM32G070/CubeIDE_Project/Debug/CubeIDE_Project.list
STM32G070/CubeIDE_Project/Debug/CubeIDE_Project.map
STM32G070/CubeIDE_Project/Debug/makefile
STM32G070/CubeIDE_Project/Debug/objects.mk
STM32G070/CubeIDE_Project/Debug/sources.mk
STM32G070/CubeIDE_Project/Debug/Src/main.o
STM32G070/CubeIDE_Project/Debug/Src/subdir.mk
STM32G070/CubeIDE_Project/Debug/Src/syscalls.o
STM32G070/CubeIDE_Project/Debug/Src/sysmem.o
STM32G070/CubeIDE_Project/Debug/Startup/startup_stm32g070rbtx.o
*.mk
